*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    background-color: black;
}

.navbar{
    font-family: helvetica;
    padding-left: 15px;
    padding-right: 15px;
}

.navdiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    font-size: 20px; font-weight: 700; color: rgb(255, 255, 255);
    display:flex; margin-top: 15px; padding-top: 5px;
}

li{
    list-style: none;
    display: inline-block;
    margin-right: 15px;
}

.logotext{
    padding-top: 10px;
    padding-left: 10px;
}

button{
    background-color: rgb(255, 255, 255);
    color: #25D366;
    margin-left: 10px; width: 100px; height:40px; border-radius: 9px;
    border: none;
    transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition */
}




button:hover {
    background-color: #25D366; /* New background color on hover */
    color: #000000; /* New text color on hover */
}




button a{
    color: rgb(0, 0, 0); font-weight: 700;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgba(209, 209, 209, 0);
}


@media (max-width: 300px) {
    .navdiv {
        flex-direction: column;
        text-align: center;
    }

    ul {
        flex-direction: column;
        width: 100%;
    }

    ul button {
        width: 100%;
        margin: 10px 0;
    }
}




.maindiv{
 font-family: Arial, Helvetica, sans-serif;
 font-size: 40px;
    color: rgb(255, 255, 255);
    margin-top: 420px;
    text-align: center;
}





.hover-image {
    width: 50px;
    height: 50px;
    transition: 0.6s ease-in-out, filter 0.3s ease; /* Smooth transition for transform and filter */
}

/* Hover effect */
.hover-image:hover {
    filter: brightness(1.2); /* Brightens the image */
    content: url('Data/imagehover.png');
}


.maindiv{

    transition: 0.8s ease-in-out;

}


.maindiv:hover{

    color: #ff0000;
}

.logotext{
    transition: 0.5s ease-in-out;

}



.logotext:hover{

    color: rgb(212, 209, 168);
}
